<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" tools:node="remove"/>



    <application
        android:name=".entry_point.application.MyApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/todoit_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/todoit_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDoIt"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
<!--        android:roundIcon="@mipmap/ic_launcher_round"-->
<!--        android:icon="@mipmap/ic_launcher"-->
<!--        <activity-->
<!--            android:name=".entry_point.main_activity.MainActivity"-->
<!--            android:exported="true"-->
<!--            android:label="@string/title_activity_main"-->
<!--            android:theme="@style/Theme.ToDoIt">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".entry_point.main_activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ToDoIt">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".notification.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>